parameters:
    level: 1
    checkFunctionNameCase: true
    checkMissingIterableValueType: true
    checkInternalClassCaseSensitivity: true
    checkDynamicProperties: true
    paths:
        - application
        - library
    scanDirectories:
        - vendor
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
    universalObjectCratesClasses:
        - Icinga\Web\View
        - ipl\Orm\Model
