/* BEGIN Cube */

.controls > a {
  color: @icinga-blue;

  &:hover::before {
    text-decoration: none;
  }
}

div.cube {
  div.cube-dimension0 > .header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  div.cube-dimension1 {
    clear: both;
    border-left: 0.5em solid transparent;
  }

  div.cube-dimension1 > .header, div.cube-dimension2 {
    display: inline-block;
    width: 10em;
    height: 10em;
    margin: 0;
    padding: 0.5em;
    margin-right: 0.3em;
    margin-top: 0.3em;
    overflow: hidden;
    border: 1px solid white;
  }

  div.cube-dimension1 > .header {
    float: left;
    font-weight: bold;
    text-align: center;
    padding-left: 0;
  }

  div.cube-dimension2 {
    > .header {
      text-align: center;
      color: white;
    }

    background: @color-ok;

    > .body {
      text-align: center;

      span.sum {
        font-size: 3em;
        display: block;
        text-align: center;
        color: white;
      }
    }
  }

  span.critical {
    display: inline;
    border-radius: 0.1em;
    padding: 0.05em 0.2em;
    background: @color-critical;
    color: white;
    font-size: 3em;
  }

  span.critical.handled {
    background: @color-critical-handled;
  }

  div.cube-dimension0.critical > .header {
    color: @color-critical;
    border-color: @color-critical;
  }

  div.cube-dimension1.critical {
    border-left-color: @color-critical;

    &.handled {
      border-left-color: @color-critical-handled;
    }
  }

  div.cube-dimension2.critical {
    span.sum {
      font-size: 1em;
    }
  }
}

fieldset.dimensions {
  margin: 0;
  padding: 0;
  span {
    min-width: 18em;
    display: inline-block;
  }

  input[type=submit]:nth-of-type(3) {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

/*
  input[type=submit] {
    font-family: 'ifont';
    width: 2em;
    height: 2em;
    font-size: 1em;
    margin-left: 0.2em;
    padding: 1px 0 1px 0;
  }
*/
  &:last-of-type {
    margin-bottom: 0.5em;
  }
}

/* END Cube */
